<h2 class="title">Players involved in action</h2>
<div class="button-box">
  <button mat-raised-button color="primary" routerLink="/single-transaction">
    One
  </button>
  <button mat-raised-button color="primary" routerLink="/multi-transaction">
    Two
  </button>
</div>

<div class="player-grid">
  <ng-container *ngFor="let player of playerService.players | async">
    <div class="grid-item">{{ player.name }}</div>
    <div class="grid-item">{{ player.balance }}</div>
  </ng-container>
</div>

<div class="button-box end-game-button">
  <button mat-raised-button color="primary" routerLink="/leaderboard">End Game</button>
</div>
