<div class="button-box-bottom">
  <button mat-raised-button color="primary" routerLink="/single-transaction">
    {{ 'OVERVIEW.LABEL.BANK' | translate }}
  </button>
  <button mat-raised-button color="primary" routerLink="/multi-transaction">
    {{ 'OVERVIEW.LABEL.TRANSACTION' | translate }}
  </button>
</div>

<div class="player-grid">
  <ng-container *ngFor="let player of playerService.players | async">
    <div class="grid-item">{{ player.name }}</div>
    <div class="grid-item">{{ player.balance }}</div>
  </ng-container>
</div>

<div class="button-box-top end-game-button">
  <button mat-raised-button color="primary" routerLink="/leaderboard">
    {{ 'OVERVIEW.LABEL.END_GAME' | translate }}
  </button>
</div>
