<div class="button-box-bottom">
  <button mat-raised-button color="primary" routerLink="/bank">
    {{ 'OVERVIEW.LABEL.BANK' | translate }}
  </button>
  <button mat-raised-button color="primary" routerLink="/transaction">
    {{ 'OVERVIEW.LABEL.TRANSACTION' | translate }}
  </button>
</div>

<div class="player-grid">
  <ng-container *ngFor="let player of playerService.players | async">
    <div class="grid-item">
      <div class="text-overflow">{{ player.name }}</div>
    </div>
    <div class="grid-item">{{ player.balance | number }}</div>
  </ng-container>
</div>

<div class="button-box-top end-game-button">
  <button mat-raised-button color="primary" routerLink="/leaderboard">
    {{ 'OVERVIEW.LABEL.END_GAME' | translate }}
  </button>
</div>
