.title {
  margin: 0 auto;
}

.player-grid {
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  &:nth-child(4n + 1),
  &:nth-child(4n + 2) {
    background-color: #CFBAF2;
  }
}

.end-game-button {
  margin-top: auto;
}
