.title {
  margin: 0 auto;
}

.player-grid {
  grid-template-columns: 1fr auto;

  & > div {
    padding-left: 1rem;

    &:nth-child(2n) {
      padding-right: 1rem;
    }

    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
}

.end-game-button {
  margin-top: auto;
}
