.player-grid {
  flex: 1 1 0;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  grid-template-columns: auto 1fr 1fr;
  font-size: 6vw;
  border-radius: 6px;
  min-width: 0;

  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    &:nth-child(6n + 1) {
      padding: 0 0.5rem;
    }

    &:nth-child(6n + 1),
    &:nth-child(6n + 2),
    &:nth-child(6n + 3) {
      background-color: #ededed;
    }
  }
}
