.player-grid {
  grid-template-columns: auto 1fr auto;
}

.grid-item {
  padding-left: 1rem;
  &:nth-child(3n + 3) {
    padding-right: 1rem;
  }

  &:nth-child(6n + 1),
  &:nth-child(6n + 2),
  &:nth-child(6n + 3) {
    background-color: #f4dff8;
  }
}
