.player-grid {
  grid-template-columns: auto 1fr 1fr;
}

.grid-item {
  &:nth-child(6n + 1) {
    padding: 0 0.5rem;
  }

  &:nth-child(6n + 1),
  &:nth-child(6n + 2),
  &:nth-child(6n + 3) {
    background-color: #CFBAF2;
  }
}
