:host {
  max-height: 100%;
  padding: 1rem;
}

.full-width {
  width: 100% !important;
}

.new-player-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex: 1 1 0;
  margin-bottom: 1rem;
}

.money-input {
  margin-top: auto;
}

.button-box {
  flex: 0 0 auto;
  margin-top: unset !important;
}
